## MAC OS
.DS_Store
nohup.out

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg
coverage.data
log
spec/fixtures/log
workflow_service.log*

## PROJECT::SPECIFIC
.yardoc
.rvmrc
.ruby-version
.ruby-gemset
*.gem
